@import "./reset.css";
@import "./modal.css";

html {
    width: 100%;
    height: 100vh;
}

body {
    background-color: whitesmoke;
    background: url("../../lib/images/background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* height: 70vh; */
}

.game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#mariomatch {
    /* background-color: #F7FFF7; */
    border-radius: 3px;
    /* z-index: 5; */
    background: whitesmoke;
}

#mario {
    margin: auto;    
    
}

.main {
    width: 80%;
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: center;
    margin: auto;
}

.rules {
    background: whitesmoke;
    width: 300px;
    margin-right: 20px;
    padding: 20px;
    position: relative;
}

#howtoplayImg {
    margin-bottom: 20px;
}

.rules p {
    font-size: 25px;
}

.buttons {
    margin-top: 50px;
}

#startBtn {
    width: 100%;
    height: 80px;
    font-size: 30px;
    background-color: #009DDB;
    color: white;
    border-radius: 2px;
    border-style: none;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: all 0.3s ease-in-out;
    margin-bottom: 30px;
    font-weight: 600;
    letter-spacing: 1px;
}


#timeBtn {
    width: 100%;
    height: 80px;
    font-size: 30px;
    background-color: #42B132;
    color: white;
    border-radius: 2px;
    border-style: none;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: all 0.3s ease-in-out;
    font-weight: 600;
    letter-spacing: 1px;

}


#startBtn:hover {
    transform: scale(1.2, 1.2);
    transition: transform .5s;
    cursor: pointer;
}
  
#startBtn:hover,
#startBtn:focus {
  box-shadow: 0 0.5em 0.5em -0.4em #009DDB;
  transform: translateY(-0.15em);
}

#timeBtn:hover {
    transform: scale(1.2, 1.2);
    cursor: pointer;
    transition: all .5s;
}
  
#timeBtn:hover,
#timeBtn:focus {
  box-shadow: 0 0.5em 0.5em -0.4em #42B132;
  transform: translateY(-0.15em);
}

#startBtn:focus,
#timeBtn:focus {
    outline: none;
    background-color: #FDD000;
    color: black;
    transform: scale(1.1);
}


#background {
    width: 100%;
}

#title {
    width: 100%;
    font-size: 80px;
    margin: auto;
    text-align: center;
}


#mute {
    position: absolute;
    /* top: 40%; */
    right: 20px;
    bottom: 20px;
    margin-left: 50px;
    width: 40px;
    height: 40px;
    font-size: 20px;
    border-radius: 2px;
    border-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #42B132;
    transition: all 0.3s ease-in-out;

}

#mute:focus, #modalBtn:focus {
    outline: none;
}

#mute:hover {
    transform: scale(1.2, 1.2);
    cursor: pointer;
}

#mute img {
    width: 100%;
    height: auto;
}

#front-icons {
    position: absolute;
    top: 60%;
    left: 50%;
    margin-left: -190px;
}

#front-icons img {
    width: 40px;
    height: 40px;
    padding: 5px;
}

footer {
    width: 100%;
    display: flex;
    justify-content: center;
}

footer a {
    font-size: 30px;
    color: #F7FFF7;
    padding: 5px;
}

footer a:hover {
    border: 1px solid black;
}