@import "./reset.css";
@import "./modal.css";

html {
    width: 100%;
    height: 100vh;
}

body {
    background-color: whitesmoke;

    background-image: url("../../lib/images/background.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    /* height: 70vh; */
}

#mariomatch {
    background-color: #F7FFF7;
    border-radius: 3px;
    /* z-index: 5; */
}

#mario {
    border: 1px solid red;
}

.buttons {
    position: absolute;
    top: 70%;
    left: 50%;
    margin-left: -100px;
    display: flex;
    flex-direction: column;
    align-items: space-between;
}

#startBtn {
    width: 200px;
    height: 50px;
    font-size: 20px;
    background-color: #009DDB;
    color: white;
    border-radius: 2px;
    border-style: none;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: all 0.3s ease-in-out;
    margin-bottom: 30px;
    font-weight: 600;
    letter-spacing: 1px;

}


#timeBtn {
    /* position: absolute;
    top: 85%;
    left: 50%;
    margin-left: -100px; */
    width: 200px;
    height: 50px;
    font-size: 20px;
    background-color: #42B132;
    color: white;
    border-radius: 2px;
    border-style: none;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: all 0.3s ease-in-out;
    font-weight: 600;
    letter-spacing: 1px;

}


#startBtn:hover {
    transform: scale(1.2, 1.2);
    transition: transform .5s;
}
  
#startBtn:hover,
#startBtn:focus {
  box-shadow: 0 0.5em 0.5em -0.4em #009DDB;
  transform: translateY(-0.25em);
}

#timeBtn:hover {
    transform: scale(1.2, 1.2);
}
  
#timeBtn:hover,
#timeBtn:focus {
  box-shadow: 0 0.5em 0.5em -0.4em #42B132;
  transform: translateY(-0.25em);
}


#background {
    width: 100%;
}

#title {
    width: 100%;
    font-size: 80px;
    margin: auto;
    text-align: center;
    /* padding-bottom: 10px; */
}

.options {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-evenly;
}

#mute {
    /* position: absolute; */
    top: 40%;
    margin-left: 50px;
    width: 59px;
    height: 59px;
    font-size: 20px;
    border-radius: 5px;
    border-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #42B132;
    transition: all 0.3s ease-in-out;

}

#mute:focus {
    outline: none;
}

#mute:hover {
    transform: scale(1.2, 1.2);
}

#mute img {
    width: 100%;
    height: auto;
}

#front-icons {
    position: absolute;
    top: 60%;
    left: 50%;
    width: 500px;
    margin-left: -190px;
}

#front-icons img {
    width: 40px;
    height: 40px;
    padding: 5px;
}

footer {
    width: 100%;
    display: flex;
    justify-content: center;
}

footer a {
    font-size: 30px;
    color: #F7FFF7;
    padding: 5px;
}